<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shorcut icon" href="/assets/images/favicon-transp-32x32.ico" />
<link rel="icon" size="32x32" href="/assets/images/favicon-transp-32x32.ico" />
<script src="//unpkg.com/liquidjs/dist/liquid.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/common.css" />
<script src="/assets/js/liquid-dynamic.js"></script>
<script type="text/javascript">
  var liquidEngine = new Liquid();
  var liquidData = {'site': {'data': {{ site.data | jsonify }}}};
  var urlSearchParams = new URLSearchParams(window.location.search);
</script>
