{% raw %}
{% assign menu-items-all-days = site.data[menu-name] | where: "period", "all" %}
{% assign menu-items = site.data[menu-name] | where: "period", period %}
{% assign menu-items = menu-items | concat: menu-items-all-days %}
{% assign categories = menu-items | map: "category" | uniq %}

<div class="menu">
  <div class="header">
    <div class="logo">Cambito</div>
  </div>
  <div class="menu-content">
    {% for category in categories %}
      <div class="category-section">
        <div class="category-title">{{category}}</div>
        <div class="menu-items">
          {% for item in menu-items %}
            {% if item.category == category %}
              <div class="menu-item">
                <div class="menu-item-title">{{ item.title }}, R$ {{ item.price }}</div>
                <div class="menu-item-description">{{ item.description }}</div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endraw %}
