<div class="social-links">
  <a class="social-link" href="https://www.instagram.com/cambitorestaurante" target="_blank">
    <div class="social-link-icon">
      <i class="fab fa-instagram"></i>
    </div>
    <div class="social-link-text">
      /cambitorestaurante
    </div>
  </a>
  <a class="social-link" href="https://www.facebook.com/cambitorestaurante" target="_blank">
    <div class="social-link-icon">
      <i class="fab fa-facebook-square"></i>
    </div>
    <div class="social-link-text">
      /cambitorestaurante
    </div>
  </a>
  <a class="social-link" href="https://wa.me/5582981590314" target="_blank">
    <div class="social-link-icon">
      <i class="fab fa-whatsapp"></i>
    </div>
    <div class="social-link-text">
      82 98159 0314
    </div>
  </a>
</div>
