$font-logo: "just-signature";
$font-menu-category: "gloriant";
$font-text: "verdana";
$font-nav-menu-item: "verdana";

$transparent-background: #fffd;
$header-background: $transparent-background;
$text-background: $transparent-background;
$footer-background: #aaad
