$font-logo: "gloriant";
$font-menu-category: "just-signature";
$font-text: "Arial, Helvetica, sans-serif";
$font-nav-menu-item: "Arial, Helvetica, sans-serif";

$transparent-background: #fffd;
$header-background: $transparent-background;
$text-background: $transparent-background;
$footer-background: #aaad
