@font-face {
	font-family: 'gloriant';
	src: url('/assets/fonts/Gloriant.ttf') format('truetype');
}

body {
	font-family: Arial;
}

a, a:visited, a:hover {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.logo {
	font-family: 'gloriant';
	font-size: 40px;
	padding: 10px;
	line-height: 40px;
}
