<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cambito</title>
  	{% include common-headers.html %}
    {% include menu-headers.html %}
    <link rel="stylesheet" type="text/css" href="/assets/css/weekly-menu.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
    <div id="content">
    {{ content }}
    </div>
  </body>
</html>
